<% provide :title, t(".cart") %>
<% provide :breadcrumb, t(".cart") %>
<%= render "commons/breadcrumb" %>

<!-- Shopping Cart Section Begin -->
<section class="shopping-cart spad">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="cart-table">
          <%= render "cart" %>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <div class="cart-buttons">
              <%= link_to  t("continue_shopping"), root_path, class: "primary-btn continue-shop" %>
            </div>
          </div>
          <div class="col-lg-4 offset-lg-4">
            <div class="proceed-checkout">
              <ul>
                <li class="cart-total">Total 
                  <span><%= number_to_currency total_price_cart(@products_load_in_cart) %></span>
                </li>
              </ul>
              <% if logged_in? %>
                <%= link_to t("check_out"), new_order_path, class: "proceed-btn" %>
              <% else %>
                <%= link_to t("log_in"), login_path, class: "proceed-btn" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Shopping Cart Section End -->
