<div class="product-item">
  <div class="pi-pic">
    <img src="/assets/img/products/man-1.jpg" alt="">
    <div class="icon">
      <h3><%= t("sold_out") if product.quantity.zero? %></h3>
    </div>
    <ul>
      <li class="w-icon active">
        <%= link_to_unless product.quantity.zero?, '<i class="icon_bag_alt"></i>'.html_safe,
        add_to_carts_path(product.id) %>
      </li>
      <li class="quick-view"><%= link_to t("detail_product"), "#" %></li>
      <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li>
    </ul>
  </div>
  <div class="pi-text">
    <a href="#">
      <h5><%= product.name %></h5>
    </a>
    <div class="product-price">
      <%= number_to_currency product.price %>
    </div>
  </div>
</div>
