<!-- Footer Section Begin -->
<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer-left">
          <div class="footer-logo">
            <a href="#"><img src="/assets/img/footer-logo.png" alt=""></a>
          </div>
          <ul>
            <li><%= t "footer.address" %></li>
            <li><%= t "header.number_phone" %></li>
            <li><%= t "header.email_contact" %>/li>
          </ul>
          <div class="footer-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-pinterest"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 offset-lg-1">
        <div class="footer-widget">
          <h5><%= t :no_link %></h5>
          <ul>
            <li><a href="#"><%= t :no_link %></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2">
        <div class="footer-widget">
          <h5><%= t :no_link %></h5>
          <ul>
            <li><a href="#"><%= t :no_link %></a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="newslatter-item">
          <h5><%= t :no_link %></h5>
          <p><%= t :join_us %></p>
          <form action="#" class="subscribe-form">
            <input type="text" placeholder="Enter Your Mail">
            <button type="button"><%= t :no_link %></button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
<!-- Footer Section End -->
