<!-- Header Section Begin -->
<header class="header-section">
  <div class="header-top">
    <div class="container">
      <div class="ht-left">
        <div class="mail-service">
          <i class=" fa fa-envelope"></i>
          <%= t :email_contact %>
        </div>
        <div class="phone-service">
          <i class=" fa fa-phone"></i>
          <%= t :number_phone %>
        </div>
      </div>
      <div class="ht-right">
        <a href="#" class="login-panel"><i class="fa fa-user"></i></a>
        <div class="lan-selector">
          <select class="language_drop" name="countries" id="countries">
            <option value="yt" data-image="/assets/img/flag-1.jpg" data-imagecss="flag yt"
              data-title="English"><%= link_to t("header.en"), locale: :en %></option>
            <option value="yu" data-image="/assets/img/flag-2.jpg" data-imagecss="flag yu"
              data-title="Vietnamese"><%= link_to t("header.vi"), locale: :vi %></option>
          </select>
        </div>
        <div class="top-social">
          <a href="#"><i class="ti-facebook"></i></a>
          <a href="#"><i class="ti-twitter-alt"></i></a>
          <a href="#"><i class="ti-linkedin"></i></a>
          <a href="#"><i class="ti-pinterest"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="inner-header">
      <div class="row">
        <div class="col-lg-2 col-md-2">
          <div class="logo">
            <a href="./index.html">
            <img src="/assets/img/logo.png" alt="">
            </a>
          </div>
        </div>
        <div class="col-lg-7 col-md-7">
          <div class="advanced-search">
            <button type="button" class="category-btn"><%= t :all_category %></button>
            <div class="input-group">
              <input type="text" placeholder="<%= t :search %>">
              <button type="button"><i class="ti-search"></i></button>
            </div>
          </div>
        </div>
        <div class="col-lg-3 text-right col-md-3">
          <ul class="nav-right">
            <li class="heart-icon">
              <a href="#">
              <i class="icon_heart_alt"></i>
              <span>1</span>
              </a>
            </li>
            <li class="cart-icon">
              <%= render "layouts/cart" %>
            </li>
            <li class="cart-price"><%= number_to_currency total_price_cart @carts %></li>
            <% if logged_in? %>
              <li class="dropdown">
                <%= link_to "#", class: "dropdown-toggle login-header", "data-toggle": "dropdown", "aria-expanded": "true" do %>
                  <%= content_tag(:i, "", class: "fa fa-user")%>
                <% end %>
                <ul class="dropdown-menu">
                  <li><%= link_to t("header.profile"), "#" %></li>
                  <li><%= link_to t("header.setting"), "#" %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to t("header.log_out"), logout_path, method: :delete %>
                  </li>
                </ul>
              </li>
              <li>
                <%= button_to logout_path, method: :delete do %>
                  <%= content_tag(:i, "", class: "fa fa-sign-out")%>
                  <%= t "Logout" %>
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to login_path, class: "login-header" do %>
                  <%= content_tag(:i, "", class: "fa fa-user")%>
                  <%= t "sessions.new.login" %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-item">
    <div class="container">
      <div class="nav-depart">
        <div class="depart-btn">
          <i class="ti-menu"></i>
          <span><%= t :all_departments %></span>
          <ul class="depart-hover">
            <li class="active"><a href="#"><%= t :no_link %></a></li>
          </ul>
        </div>
      </div>
      <nav class="nav-menu mobile-menu">
        <ul>
          <li class="active"><a href="./index.html"><%= t :no_link %></a></li>
          <li><a href="./shop.html"><%= t :no_link %></a></li>
          <li>
            <a href="#"><%= t :no_link %></a>
            <ul class="dropdown">
              <li><a href="#"><%= t :no_link %></a></li>
            </ul>
          </li>
          <li><a href="./blog.html"><%= t :no_link %></a></li>
          <li><a href="./contact.html"><%= t :no_link %></a></li>
          <li>
            <a href="#"><%= t :no_link %></a>
            <ul class="dropdown">
              <li><a href="./blog-details.html"><%= t :no_link %></a></li>
              <li><a href="./shopping-cart.html"><%= t :no_link %></a></li>
              <li><a href="./check-out.html"><%= t :no_link %></a></li>
            </ul>
          </li>
          <li>
            <a href="./blog.html">Language</a>
            <ul class="dropdown">
              <li><%= link_to t("eng"), locale: :en %></li>
              <li><%= link_to t("vnese") , locale: :vi %></li>
              <li>


              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <div id="mobile-menu-wrap"></div>
    </div>
  </div>
</header>
<!-- Header End -->
